/* footer */

footer a{
    text-decoration: none;
    font-size: 17px;
    border-radius: 15%;
    padding: 6px;
}

footer p{
    font-size: 17px;
}
footer a:hover{
    background-color: #0d6efd;
}

footer i{
    font-size: 25px;
}