// Navbar (menu)//

header {
    width: 100%;
    height: 160px;
    background: $color-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo img{
    color: $color-black;
    border-radius: 50%;
}

.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: $color-white;
    font-size: 20px;
    padding: 0px 30px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: $color-black;
    background: $color-white;
}

.nav-bar ul li a.active {
    color: $color-black;
    background: $color-white;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1220px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: $color-white;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        width: 100vw;
        background: $color-black;
        transition: 0.5s;
        overflow: hidden;
        z-index: 2;
    }
    .nav-bar.active {
        height: 250px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 500px){
    .logo img{
        color: $color-black;
        border-radius: 50%;
        width: 100px;
    }
}