// variables de colores
$color-black: #11101b;
$color-white: #fefefe;

// variables de fuentes
$p-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$h4-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;